<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3>Login</h3>
                </div>
                <div class="card-body">

                    <form #formName="ngForm" (ngSubmit)="onSubmit(formName.value)">
                        <!-- <label>First Name</label><br>
                        <input type="text" name="firstName" ngModel #firstName="ngModel" required class="form-control"
                                [class.is-invalid]="firstName.touched && firstName.invalid "><br>
                            <span *ngIf="firstName.invalid && firstName.touched">
                                <small class="text-danger" *ngIf="firstName.touched">First Name Required</small>
                            </span><br>
                            <label>Last Name</label><br>
                            <input type="text" name="lastName" ngModel #lastName="ngModel" required minlength="4" class="form-control"
                                [class.is-invalid]="lastName.touched && (lastName.invalid  || lastName.errors?.['minlength'])"><br>
                    
                            <div *ngIf="lastName.touched && lastName.invalid">
                                <small class="text-danger" *ngIf="lastName.invalid && lastName.errors?.['minlength']">Last Name should be
                                    valid and min 4 chars</small>
                                <small class="text-danger" *ngIf="lastName.touched">Last Name Required</small>
                    
                            </div> -->

                        <div class="form-group">
                            <label for="email">Email</label><br>
                            <input type="email" class="form-control" name="email" ngModel #email="ngModel" required
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                [class.is-invalid]="email.touched && (email.invalid || email.errors?.['pattern'])"><br>
                            <div *ngIf="email.touched && email.invalid">
                                <small class="text-danger" *ngIf="email.invalid">Enter an email</small>
                                <small class="text-danger" *ngIf="email.errors?.['pattern']">Email pattern should be in
                                    correct format</small>
                            </div>
                            <div *ngIf="email.errors?.['pattern']">
                                This is not a valid Email
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="password">Password</label><br>
                            <input type="password" class="form-control" name="password" ngModel #password="ngModel"
                                required pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30})"
                                [class.is-invalid]="password.touched && (password.invalid || password.errors?.['pattern'])"><br>
                            <div *ngIf="password.touched && password.invalid">
                                <small class="text-danger" *ngIf="password.invalid">Enter a password</small>
                                <small class="text-danger" *ngIf="password.errors?.['pattern']">Enter valid
                                    password</small>
                            </div>
                            <div class="text-danger" *ngIf="password.invalid && password.errors?.['pattern']">
                                Password must be min 8 chars, one special char, Upper case and lower case
                            </div>
                        </div>

                        <div>
                            (or)
                        </div>

                        <div class="form-group">
                            <label for="number">Login with mobile OTP</label><br>
                            <input type="number" class="form-control" name="number" ngModel #number="ngModel" required
                                pattern="^((\\+91-?)|0)?[0-9]{10}$"><br>
                            <div class="text-danger" *ngIf="number.invalid && number.errors?.['pattern']">
                                Enter valid OTP
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" [disabled]="formName.invalid" class="btn btn-success">Submit</button>
                        </div>
                    </form>

                    <div class="card-header">
                        <h3>Login with</h3>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-4">
                            <a href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-envelope" viewBox="0 0 16 16">
                                    <path
                                        d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                                </svg>
                            </a>

                            <a href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-facebook" viewBox="0 0 16 16">
                                    <path
                                        d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                                </svg>
                            </a>


                            <a href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-twitter" viewBox="0 0 16 16">
                                    <path
                                        d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" />
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-4 ">
                            <a routerLink="/sign-up">free singup</a>
                        </div>
                        <div class="col-4">
                            <a href="#">forget password</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>