<p>sign-up works!</p>
<div class="container"> 
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h3>Sing-Up</h3>
                </div>
                <div class="card-body">
                    <form name="signUpform" [formGroup]="signUpform" (ngSubmit)="submit()">
                        <div class="form-group">
                            <label for="userName">User Name</label><br>
                            <input type="text" class="form-control" formControlName="userName"
                            [class.is-invalid]="function['userName'].touched && (function['userName'].invalid  || function['userName'].errors?.['minlength'])">
                            <div *ngIf="function['userName'].touched && function['userName'].invalid">
                                <small class="text-danger" *ngIf="function['userName'].touched">User name is required</small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="emailId">Email Id</label><br>
                            <input type="text" class="form-control" formControlName="emailId">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label><br>
                            <input type="password" class="form-control" formControlName="password">
                        </div>
                        <div class="form-group">
                            <label for="conformPassword">Conform Password</label><br>
                            <input type="password" class="form-control" formControlName="conformPassword">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success" [disabled]="!signUpform.valid">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="form-group">
    <label for="emailId">Email Id</label><br>
    <input type="text" class="form-control">
</div>