<div class="card-mb-3">
    <div class="container-fluid">
        <div class="row g-0">
            <div class="col-md-6" *ngFor="let views of mostViews">
                <div class="card">
                    <img src="{{views.imgUrl}}" class="img-fluid rounded-start" alt="">
                </div>
            </div>
            <div class="col-md-6" *ngFor="let views of mostViews">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{views.headline}}</h3>
                        <p class="card-text">{{views.content}}</p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-3">
                                <small>{{views.date}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 " *ngFor="let views of subViews">
                <div class="card h-100">
                    <img src="{{views.imgUrl}}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{views.headline}}</h5>
                        <p class="card-text">{{views.content}}</p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-3">
                                <small>{{views.date}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>